

<div class="login-dark">
    <form method="post" (ngSubmit)="userRegister()" #f="ngForm">
        <h2 class="sr-only" class="d-flex justify-content-center"> Inscription</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group"><input class="form-control" type="text" id="nom" name="nom" ngModel placeholder="Nom" [(ngModel)]="user.nom"></div>
        <div class="form-group"><input class="form-control" type="text" id="prenom" name="prenom" placeholder="Prénom" [(ngModel)]="user.prenom"></div>
        <div class="form-group"><input class="form-control" type="text" id="username" name="username" placeholder="Username" [(ngModel)]="user.username"></div>
        <div class="form-group"><input class="form-control" type="email" id="email" name="email" placeholder="Email"[(ngModel)]="user.email"></div>
        <div class="form-group"><input class="form-control" type="password" id="password" name="password" placeholder="Password" [(ngModel)]="user.password"></div>
        <div class="form-group"><input class="form-control" type="text" id="telephone" name="telephone" placeholder="Telephone" [(ngModel)]="user.telephone"></div>
        <div class="text-center"> <div class="form-groups"><button class="btn btn-primary btn-block" type="submit" >Inscription</button></div></div>
        <a href="#" class="forgot" routerLink="/login">Connexion à votre compte</a></form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
