


<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
    
</mat-drawer-container>

<div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Services</b></h2>
          </div>
        </div>
    </div>
</div>

    

