<div class="container">  
    <mat-card class="example-card" style="margin-bottom: 5%;">
    
        <div class="table-title">
          <div class="row">
                <div class="col-sm-4">
                <h2> <b>Plan Airport Tunis Carthage</b></h2>
                </div>
                <div class="col-sm-4" style="/* margin: auto; */margin-top: 1%;">
                    <div class="form-group">
                
                    </div>
                </div>
            
            </div>
        </div>
       
   

  </mat-card>


<div >
<mat-card class="example-card"  style="margin-bottom: 1px;" >
   <div class="card">
    <div style="text-align:center"><img mat-card-image></div>

    <img mat-card-image="" src="https://tunisie.co/uploads/images/content/carthage-160511-1.jpg" height="100%" width="80%">
</div>

<mat-card-content>
  <p>
   
  </p>
  
</mat-card-content>


</mat-card>
</div>  
</div>